<header class="header-main w-100 position-absolute z-3">
    <div class="header-top w-100 position-relative">
        <div class="container d-flex justify-content-end align-items-center">
            <a href="#en" class="language-btn">EN</a>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg custom-navbar w-100">
        <div class="container">
            <button class="navbar-toggler custom-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#mainMenu" aria-label="Mobil Menüyü Aç/Kapat" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });">
                <i class="icon-close-large menu-close-icon"></i>
                <i class="icon-menu-hamburger menu-open-icon"></i>
            </button>
            <div class="collapse navbar-collapse w-100 justify-content-between" id="mainMenu">
                <ul class="navbar-nav left-menu">
                    <li class="nav-item"><a class="nav-link" href="./urunlerimiz.html">ÜRÜNLERİMİZ</a></li>
                    <li class="nav-item"><a class="nav-link" href="./tariflerimiz.html">TARİFLERİMİZ</a></li>
                </ul>
                <ul class="navbar-nav right-menu">
                    <li class="nav-item"><a class="nav-link" href="./kurumsal-hakkimizda.html">HAKKIMIZDA</a></li>
                    <li class="nav-item"><a class="nav-link" href="./iletisim.html">İLETİŞİM</a></li>
                </ul>
            </div>
            <a class="navbar-brand absolute-center scroll-reveal-top" href="./index.html" aria-label="Ana Sayfa - AGOSTO">
                <img src="/assets/images/agusto-logo.webp" alt="Agosto Logo" class="">
            </a>
            <ul class="navbar-nav language-wrapper ms-lg-5">
                <li class="nav-item">
                    <a href="#" class="text-decoration-none nav-link">EN</a>
                </li>
            </ul>
        </div>
    </nav>
</header>