<title>AGOSTO</title>
<link rel="stylesheet" href="/assets/css/main.css" />
<meta name="description" content="AGOSTO" />
<meta name="keywords" content="AGOSTO" />

<link rel="icon" type="image/png" href="assets/favicon/png?v=20260402" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="assets/favicon/favicon.svg?v=20260402" />
<link rel="shortcut icon" href="assets/favicon/favicon.ico?v=20260402" />
<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png?v=20260402" />
<meta name="apple-mobile-web-app-title" content="AGOSTO" />
<link rel="manifest" href="assets/favicon/site.webmanifest?v=20260402" />
