<section class="hero" id="homeHero">
    <div id="carouselSlider" class="carousel slide carousel-fade" data-module="smart-slider">
        <div class="carousel-inner">
            <div class="carousel-item active" data-type="image" data-interval="5000">
                <!-- İlk slayt yüksek öncelikli olduğu için fetchpriority="high" back-end sadece ilk slidea ekle -->
                <img src="/assets/images/slider-1.webp" alt="" class="img-fluid" fetchpriority="high">
                <div class="carousel-caption text-start">
                    <div class="container p-0 mx-auto">
                        <div class="col-lg-8 col-11 hero-heading mx-auto">
                            <h1 class="hero-title animation-text">
                                Lezzetin İmparatorluğu
                            </h1>
                            <h2 class="hero-subtitle">İtalyan Reçete. Yerli Üretim. Kusursuz Tat.</h2>
                            <div class="hero-desc px-md-5 mx-md-5">
                                <p>AGOSTO; bar, kafe ve restoran profesyonelleri için geliştirdiği ürünleriyle doğal
                                    içerik, yüksek verim ve tekrar edilebilir lezzet sunar.</p>
                            </div>
                            <a href="#" class="btn btn-white rounded-pill w-max">AGUSTO ile Tanışın</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item" data-type="image" data-interval="5000">
                <!-- İkinci slayt ve sonraki slide loading="lazy" olmalı -->
                <img src="/assets/images/freepik_edit.webp" alt="" class="img-fluid" loading="lazy">
                <div class="carousel-caption text-start">
                    <div class="container p-0 mx-auto">
                        <div class="col-lg-8 col-11 hero-heading mx-auto">
                            <h1 class="hero-title">
                                Lezzetin İmparatorluğu
                            </h1>
                            <h2 class="hero-subtitle">İtalyan Reçete. Yerli Üretim. Kusursuz Tat.</h2>
                            <div class="hero-desc px-md-5 mx-md-5">
                                <p>AGOSTO; bar, kafe ve restoran profesyonelleri için geliştirdiği ürünleriyle doğal
                                    içerik, yüksek verim ve tekrar edilebilir lezzet sunar.</p>
                            </div>
                            <a href="#" class="btn btn-white rounded-pill w-max">AGUSTO ile Tanışın</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--
            <div class="carousel-item" data-type="youtube" data-video-id="rxjzKo1iWow">
                <div id="player-rxjzKo1iWow"></div> 
            </div>
            <div class="carousel-item" data-type="youtube" data-video-id="edvfqQ5Mmx0">
                <div id="player-edvfqQ5Mmx0"></div> 
            </div>
            -->
        </div>

        <div class="carousel-controls">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselSlider" data-bs-slide="prev" aria-label="Önceki slide">
                <i class="bi bi-arrow-left"></i>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselSlider" data-bs-slide="next" aria-label="Sonraki slide">
                 <i class="bi bi-arrow-right"></i>
                <i class="bi bi-arrow-right"></i>
            </button>
        </div>

        <div class="position-relative">
            <div class="container-fluid">
                <div class="row justify-content-center justify-content-md-end">
                    <div class="col-auto">
                        <address class="mb-0">
                            <div class="social-icons d-flex gap-3">
                                <a href="#" aria-label="LinkedIn"><i class="icon-linkedin"></i></a>
                                <a href="#" aria-label="Instagram"><i class="icon-instagram"></i></a>
                                <a href="#" aria-label="Facebook"><i class="icon-facebook"></i></a>
                                <a href="#" aria-label="Twitter"><i class="icon-logo-x"></i></a>
                                <a href="#" aria-label="YouTube"><i class="icon-youtube"></i></a>
                            </div>
                        </address>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>