<section class="product-groups-section">
    <div class="background-image">
        <img src="/assets/images/Rectangle1copy.webp" alt="">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-11 col-md-10 col-11 mx-auto">
                <div class="row">
                    <div class="col-xxl-auto col-xl-3 col-lg-2 col-md-3 col-12 mb-4 mb-md-0">
                        <div class="product-menu">
                            <h4 class="product-menu-title">Ürün Grupları</h4>
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                aria-orientation="vertical">
                                <button class="nav-link" id="v-pills-suruplar-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-suruplar" type="button" role="tab"
                                    aria-controls="v-pills-suruplar" aria-selected="false">Şuruplar</button>

                                <button class="nav-link" id="v-pills-pureler-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-pureler" type="button" role="tab"
                                    aria-controls="v-pills-pureler" aria-selected="false">Püreler</button>

                                <button class="nav-link" id="v-pills-bazlar-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-bazlar" type="button" role="tab"
                                    aria-controls="v-pills-bazlar" aria-selected="false">Bazlar</button>

                                <button class="nav-link active" id="v-pills-barsoslar-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-barsoslar" type="button" role="tab"
                                    aria-controls="v-pills-barsoslar" aria-selected="true">Bar Soslar</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-xl-9 col-lg-4 col-md-9 col-12">
                        <div class="tab-content" id="v-pills-tabContent">

                            <div class="tab-pane fade" id="v-pills-suruplar" role="tabpanel"
                                aria-labelledby="v-pills-suruplar-tab" tabindex="0">
                                <div class="content-box">
                                    <h3>Şuruplar</h3>
                                    <h4>Farklı Tatlar,<br>Yeni Deneyimler.</h4>
                                    <p>Şuruplarımız hakkında detaylı açıklama metni buraya gelecek.</p>
                                    <a href="#" class="btn btn-custom-outline">Ürünleri İncele</a>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-pureler" role="tabpanel"
                                aria-labelledby="v-pills-pureler-tab" tabindex="0">
                            </div>

                            <div class="tab-pane fade" id="v-pills-bazlar" role="tabpanel"
                                aria-labelledby="v-pills-bazlar-tab" tabindex="0">
                            </div>

                            <div class="tab-pane fade show active" id="v-pills-barsoslar" role="tabpanel"
                                aria-labelledby="v-pills-barsoslar-tab" tabindex="0">
                                <div class="content-box">
                                    <h3>Bar Soslar</h3>
                                    <h4>Lezzet Dengesi,<br>Kusursuz Dokunuş.</h4>
                                    <p>AGOSTO Bar Sosları; kokteyl, sıcak ve soğuk içecek tariflerinde lezzet dengesi,
                                        stabil
                                        kıvam ve kontrollü aroma sunmak üzere profesyonel kullanım için
                                        geliştirilmiştir.
                                        Çikolatadan karamele, fıstıktan özel aromalara uzanan ürün gamı, barlarda hızlı
                                        servis
                                        imkânı sağlarken her bardakta aynı tat standardını garanti eder.</p>
                                    <a href="#" class="btn btn-custom-outline text-decoration-none">Ürünleri İncele</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>