<!-- Referanlsar -->
<section class="grid-card-section referances-box referances-section scroll-reveal py-md-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto justify-content-center scroll-reveal-bottom">
                <h2 class="section-title animation-text text-center fs-2 mb-3">
                    Referanslar
                </h2>
                <div class="content text-center">
                    <p>Lezzetimize güvenen markalar.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="position-relative scroll-reveal-top mb-5">
        <div class="container-fluid">
            <div class="embla references-carousel" id="referencesCarousel">
                <div class="embla__viewport">
                    <div class="embla__container">

                        <div class="embla__slide">
                            <a href="#" class="partner-card">
                                <img src="/assets/images/referans-1.webp" class="img-fluid" alt="Referans 2">
                            </a>
                        </div>

                        <div class="embla__slide">
                            <a href="#" class="partner-card">
                                <img src="/assets/images/referans-2.webp" class="img-fluid" alt="Referans 2">
                            </a>
                        </div>

                        <div class="embla__slide">
                            <a href="#" class="partner-card">
                                <img src="/assets/images/referans-3.webp" class="img-fluid" alt="Referans 3">
                            </a>
                        </div>

                        <div class="embla__slide">
                            <a href="#" class="partner-card">
                                <img src="/assets/images/referans-4.webp" class="img-fluid" alt="Referans 4">
                            </a>
                        </div>

                        <div class="embla__slide">
                            <a href="#" class="partner-card">
                                <img src="/assets/images/referans-5.webp" class="img-fluid" alt="Referans 4">
                            </a>
                        </div>

                        <div class="embla__slide">
                            <a href="#" class="partner-card">
                                <img src="/assets/images/referans-6.webp" class="img-fluid" alt="Referans 4">
                            </a>
                        </div>

                        <div class="embla__slide">
                            <a href="#" class="partner-card">
                                <img src="/assets/images/referans-7.webp" class="img-fluid" alt="Referans 4">
                            </a>
                        </div>

                        <div class="embla__slide">
                            <a href="#" class="partner-card">
                                <img src="/assets/images/referans-1.webp" class="img-fluid" alt="Referans 4">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>