<section class="recipes-section">
  <div class="container">
    <h2 class="section-title animation-text">Tarifler</h2>
    <div class="content text-center text-secondary">
      <p>Karamel Sos ile neler hazırlanabilir?</p>
    </div>

    <div class="row mt-md-5">
      <div class="col-md-10 mx-auto">
        <div class="row">
          <div class="col-lg-4">
            <div class="card recipe-card">
              <img src="/assets/images/1363.webp" class="card-img-top" alt="" />
              <div class="card-body">
                <a href="tarif-detay.html" class="stretched-link">
                  <h5 class="card-title">LATTE</h5>
                </a>
                <a href="tarif-detay.html" class="detail-btn mt-2">
                  <span>İncele</span>
                  <i class="bi bi-arrow-up-short"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card recipe-card">
              <img src="/assets/images/10185.webp" class="card-img-top" alt="" />
              <div class="card-body">
                <a href="tarif-detay.html" class="stretched-link">
                  <h5 class="card-title">MOCKTAIL</h5>
                </a>
                <a href="tarif-detay.html" class="detail-btn mt-2">
                  <span>İncele</span>
                  <i class="bi bi-arrow-up-short"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card recipe-card">
              <img src="/assets/images/19039-copy.webp" class="card-img-top" alt="" />
              <div class="card-body">
                <a href="tarif-detay.html" class="stretched-link">
                  <h5 class="card-title">KOKTELY</h5>
                </a>
                <a href="tarif-detay.html" class="detail-btn mt-2">
                  <span>İncele</span>
                  <i class="bi bi-arrow-up-short"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>