<section class="services">
    <div class="container">
        <h2 class="section-title animation-text">İhtiyacınıza En Uygun Ürünü Birlikte Belirleyelim</h2>
        <div class="content text-center">
            <p>İşletmenize en uygun AGOSTO ürünlerine hızlı ve kolay şekilde ulaşın.</p>
        </div>

        <div class="row mt-md-5">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <div class="card service-card">
                    <div class="card-body">
                        <img src="/assets/images/lemon-juice.webp" class="img-fluid" alt="">
                        <a href="#detay" class="stretched-link">
                            <h3 class="card-title">Kafem İçin Ürünler</h3>
                            <p>Kahve, soğuk içecek ve özel tarifler için ideal lezzet çözümler</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <div class="card service-card">
                    <div class="card-body">
                        <img src="/assets/images/cocktail-2.webp" class="img-fluid" alt="">
                        <a href="#detay" class="stretched-link">
                            <h3 class="card-title">Barım İçin Ürünler</h3>
                            <p>Kahve, soğuk içecek ve özel tarifler için ideal lezzet çözümler</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <div class="card service-card">
                    <div class="card-body">
                        <img src="/assets/images/detox.webp" class="img-fluid" alt="">
                        <a href="#detay" class="stretched-link">
                            <h3 class="card-title">Restoranım İçin Ürünler</h3>
                            <p>Restoranlar için özel lezzetli ürünler ve servisler</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <div class="card service-card">
                    <div class="card-body">
                        <img src="/assets/images/cocktail.webp" class="img-fluid" alt="">
                        <a href="#detay" class="stretched-link">
                            <h3 class="card-title">Pastanem İçin Ürünler</h3>
                            <p>Pastaneler için özel lezzetli ürünler ve servisler</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-md-5">
            <div class="col-lg-10 mx-auto text-center">
                <h3 class="font-rosmatika text-primary fs-4">Kararsız Kaldıysanız, Birlikte Belirleyelim</h3>
                <div class="fs-18px fw-light">
                    <p>İşletmenize en uygun AGOSTO ürünlerini uzmanlarımızla birlikte seçin.</p>
                </div>
                <a href="#detay" class="btn btn-primary rounded-pill px-5 py-3 mt-md-3">Size Uygun Ürünü Bulalım</a>
            </div>
        </div>
    </div>
</section>