@font-face {
  font-family: 'Rosmatika';
  src: url('../fonts/Rosmatika-Regular.woff2') format('woff2'),
    url('../fonts/Rosmatika-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Variable';
  src: url('../fonts/InterVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}